{{#groups}}
  <div class="row">
    <h2>{{ date }}</h2>
    {{#chunks}}
    <div class="span3">
      <ul class="thumbnails">
        {{#images}}
        <li class="span3 text-center">
          <a href="{{ this }}" target="_blank">
            <img src="{{ this }}" style="max-height:200px;">
          </a>
        </li>
        {{/images}}
      </ul>
    </div>
    {{/chunks}}
  </div>
{{/groups}}