{{#groups}}
  <div class="row">
    <h2>{{ date }}</h2>
    {{#images}}
    <div class="span3">
      <a href="{{ this }}" class="img-responsive" target="_blank">
        <img src="{{ this }}">
      </a>
    </div>
    {{/images}}
  </div>
{{/groups}}